body {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/download.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 768px;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}